version: "3.9"

services:
  bot:
    build: .
    command: ["splguard-bot"]
    env_file: .env
    depends_on:
      - redis
    networks:
      - pg-network

  web:
    build: .
    command: ["uvicorn", "splguard.web:app", "--host", "0.0.0.0", "--port", "8101"]
    env_file: .env
    depends_on:
      - redis
    ports:
      - "8101:8101"
    networks:
      - pg-network

  redis:
    image: redis:7-alpine
    ports:
      - "56379:6379"
    networks:
      - pg-network

networks:
  pg-network:
    external: true
